<div class="landing-container">
    <div class="hero-section">
        <h1 class="title"><i class="fa-solid fa-rocket"></i></h1>
    </div>
    <hr class="landing-seperator">
    <div class="features-section">
        <a routerLink="/runner-status" class="feature-card">
            <div>
                <div class="feature-icon"><i class="fa-solid fa-circle-check"></i></div>
                <h3>RUNNER STATUS</h3>
            </div>
        </a>
        <a routerLink="/runner-usage" class="feature-card">
            <div>
                <div class="feature-icon"><i class="fa-solid fa-chart-area"></i></div>
                <h3>RUNNER USAGE</h3>
            </div>
        </a>
        <a routerLink="/projects" class="feature-card">
            <div>
                <div class="feature-icon"><i class="fa-solid fa-flask"></i></div>
                <h3>ORBIT TM</h3>
            </div>
        </a>
        <a [href]="getFileServerUrl()" class="feature-card">
            <div>
                <div class="feature-icon"><i class="fa-regular fa-file"></i></div>
                <h3>File Server</h3>
            </div>
        </a>
    </div>
</div>