/* 
 * Test Execution View
 */

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.execution-details-container {
  padding: 10px;
  color: #e0e0e0;
  background-color: #1e1e1e;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}