<div class="case-links-wrapper">
    @if (isLoading) {
    <app-loader></app-loader>
    }

    @if (!isLoading && error) {
    <div class="state-container">
        <app-error-state [error]="error"></app-error-state>
    </div>
    }

    @if (!isLoading && !error && testCase) {
        <app-tm-case-header [testCase]="testCase"></app-tm-case-header>
        <div class="links-body">
            @if (testCase.links.length) {
                <div class="links-list">
                    @for (link of testCase.links; track link) {
                    <a class="link-row"
                        [href]="asString(link)"
                        target="_blank"
                        rel="noopener noreferrer">
                        <i class="fa-solid fa-arrow-up-right-from-square link-icon"></i>
                        <span class="link-url">{{ asString(link) }}</span>
                    </a>
                    }
                </div>
            } @else {
                <app-empty-state message="No links attached to this test case."></app-empty-state>
            }
        </div>
    }
</div>
