<div class="case-script-wrapper">

    <app-loader *ngIf="isLoading"></app-loader>

    <div class="state-container" *ngIf="!isLoading && error">
        <app-error-state [error]="error"></app-error-state>
    </div>

    <ng-container *ngIf="!isLoading && !error && testCase">
        <app-tm-case-header [testCase]="testCase"></app-tm-case-header>
        <div class="script-body">
            <ng-container *ngIf="testCase.test_script; else noScript">
                <div class="script-viewer-container">
                    <app-code-mirror-viewer
                        [code]="testCase.test_script"
                        [fullHeight]="true"
                        language="Gherkin">
                    </app-code-mirror-viewer>
                </div>
            </ng-container>
            <ng-template #noScript>
                <app-empty-state message="No test script available for this test case."></app-empty-state>
            </ng-template>
        </div>
    </ng-container>
</div>
