<div class="case-script-wrapper">

    @if (isLoading) {
    <app-loader></app-loader>
    }

    @if (!isLoading && error) {
    <div class="state-container">
        <app-error-state [error]="error"></app-error-state>
    </div>
    }

    @if (!isLoading && !error && testCase) {
        <app-tm-case-header [testCase]="testCase"></app-tm-case-header>
        <div class="script-body">
            @if (testCase.test_script) {
                <div class="script-viewer-container">
                    <app-code-mirror-viewer
                        [code]="testCase.test_script"
                        [fullHeight]="true"
                        language="Gherkin">
                    </app-code-mirror-viewer>
                </div>
            } @else {
                <app-empty-state message="No test script available for this test case."></app-empty-state>
            }
        </div>
    }
</div>
