:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

main > router-outlet {
  display: none;
}

main > *:not(router-outlet) {
  flex: 1;
  min-height: 0;
  overflow: hidden;
}