<div class="table-wrapper">

    <ng-container *ngIf="isLoading; else notLoading">
        <app-loader [active]="isLoading" [delay]="3000"></app-loader>
    </ng-container>

    <ng-template #notLoading>
        <ng-container *ngIf="!isLoading && error; else checkEmpty">
            <app-error-state [error]="error"></app-error-state>
        </ng-container>
    </ng-template>

    <ng-template #checkEmpty>
        <ng-container *ngIf="projectsDataSource.data.length === 0; else showTable">
            <app-empty-state message="No projects found."></app-empty-state>
        </ng-container>
    </ng-template>

     <ng-template #showTable>
     </ng-template>

</div>