<div class="table-wrapper">
    <div class="split-view">
        <ng-container *ngIf="isLoading; else notLoading">
            <app-loader [active]="isLoading" [delay]="3000"></app-loader>
        </ng-container>

        <ng-template #notLoading>
            <div class="state-container" *ngIf="!isLoading && error; else checkEmpty">
                <app-error-state [error]="error"></app-error-state>
            </div>
        </ng-template>

        <ng-template #checkEmpty>
            <div class="state-container" *ngIf="cyclesDataSource.data.length === 0; else showTable">
                <app-empty-state message="No Test Cycles Found"></app-empty-state>
            </div>
        </ng-template>

        <ng-template #showTable>
            <div class="test-cycle-table">
                <table mat-table [dataSource]="cyclesDataSource">
                    <ng-container matColumnDef="KEY">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>KEY</th>
                        <td mat-cell *matCellDef="let cycle">{{cycle.test_cycle_key}}</td>
                    </ng-container>

                    <ng-container matColumnDef="TITLE">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>TITLE</th>
                        <td mat-cell *matCellDef="let cycle">{{cycle.title}}</td>
                    </ng-container>

                    <ng-container matColumnDef="PROGRESS">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>PROGRESS</th>
                        <td mat-cell *matCellDef="let cycle">{{cycle.progress || 'N/A'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="STATUS">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
                        <td mat-cell *matCellDef="let cycle">
                            <app-status-badge [text]="(cycle.status || 'NOT_STARTED').toUpperCase()"
                                [className]="'cycle_status ' + (cycle.status || 'NOT_STARTED').toLowerCase()">
                            </app-status-badge>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="onCycleClick($event, row.test_cycle_key)"
                        (mousedown)="onCycleClick($event, row.test_cycle_key)">
                    </tr>
                </table>
            </div>
        </ng-template>
    </div>
</div>