/*
NAVBAR CONTAINER (nav.navbar)
*/
.navbar {
  background-color: #1e1e1e;
  border-bottom: 2px solid #0057ad;
  padding: 0 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  gap: 15px;
}

/*
BRAND (a.navbar-brand)
*/
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 0px;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.2s;
}

.navbar-brand:hover {
  opacity: 0.9;
}

.navbar-brand i {
  color: #0057ad;
  font-size: 28px;
}

/*
API DOCS BUTTON (a.api-docs-button)
*/
.api-docs-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  color: #4da6ff;
  background: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 26px;
}

.api-docs-button:hover {
  color: white;
}

/*
BACK BUTTON (button.back-button)
*/
.back-button {
  background: none;
  border: 1px solid #0057ad;
  color: #4da6ff;
  padding: 7px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.2s;
}

.back-button:hover {
  background-color: #0057ad;
  color: white;
}