<app-navbar></app-navbar>

<div class="runners-container">
    <!-- @if (isLoading && showSpinner) {
    <div class="loading-container">
        <div class="spinner"></div>
    </div>
    } @else if (error) {
    <div class="error-state">
        <i class="fa-solid fa-triangle-exclamation"></i>
        <p>{{ error }}</p>
    </div>
    } @else if (runners.length === 0 && !isLoading) {
    <div class="empty-state">
        <i class="fa-solid fa-server"></i>
        <p>No runners found</p>
    </div>
    } @else if (!isLoading) {
    <app-runners-status-table></app-runners-status-table>
    } -->
    <app-runners-status-table></app-runners-status-table>
</div>