<app-navbar [showBackButton]="true" [backButtonText]="'Back'" [backButtonAction]="goBack.bind(this)"></app-navbar>

<div class="tabs-container">
    <div class="tabs">
        <button class="tab" [class.active]="selectedTab === 'executions'" (click)="selectTab('executions')">
            <i class="fa-solid fa-flask"></i>
            EXECUTIONS
        </button>
        <button class="tab" [class.active]="selectedTab === 'details'" (click)="selectTab('details')">
            <i class="fa-solid fa-circle-info"></i>
            DETAILS
        </button>
    </div>
</div>

<div class="cycle-run-list-container" *ngIf="selectedTab === 'executions'">
    <app-tm-cycles-run-list></app-tm-cycles-run-list>
</div>

<div class="cycle-details-container" *ngIf="selectedTab === 'details'">
    O
</div>