services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile_frontend
    image: frontend-app:latest
    container_name: frontend-app
    ports:
      - "80:80"
  backend:
    build:
      context: .
      dockerfile: Dockerfile_backend
    image: backend-app:latest
    container_name: backend-app
    ports:
      - "8000:8000"
  db:
    build:
      context: .
      dockerfile: Dockerfile_mongodb
    image: db-app:latest
    container_name: db-app
    ports:
      - "27017:27017"
    volumes:
      - ./data:/data/db
