/* 
 * results view
 */
.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 5vh 5vh;
}

.results-content {
    background-color: blueviolet;
    padding: 2vh 2vh;
    width: 100%;
    height: 100%;
}