<app-navbar [showBackButton]="true" [backButtonText]="'Back to Projects'"
    [backButtonAction]="goBack.bind(this)"></app-navbar>

<div class="tabs-container">
    <div class="tabs">
        <button class="tab" [class.active]="selectedTab === 'cases'" (click)="selectTab('cases')">
            <i class="fa-solid fa-flask"></i>
            CASES
        </button>
        <button class="tab" [class.active]="selectedTab === 'cycles'" (click)="selectTab('cycles')">
            <i class="fa-regular fa-rectangle-list"></i>
            CYCLES
        </button>
        <button class="tab" [class.active]="selectedTab === 'results'" (click)="selectTab('results')">
            <i class="fa-solid fa-chart-line"></i>
            RESULTS
        </button>
    </div>
</div>

@if (selectedTab === 'cases') {
<div class="test-cases-container">
    <app-tm-cases-table></app-tm-cases-table>
</div>
}

@if (selectedTab === 'cycles') {
<div class="test-cycles-container">
    <app-tm-cycles-table></app-tm-cycles-table>
</div>
}

@if (selectedTab === 'results') {
<div class="test-results-container">
    <app-tm-results-graph></app-tm-results-graph>
</div>
}