<div class="table-wrapper">

    @if (isLoading) {
    <app-loader [active]="isLoading" [delay]="3000"></app-loader>
    } @else if (error) {
    <app-error-state [error]="error"></app-error-state>
    } @else if (projectsDataSource.data.length === 0) {
    <app-empty-state message="No projects found."></app-empty-state>
    } @else {
        <table mat-table [dataSource]="projectsDataSource" class="projects-table">
            <ng-container matColumnDef="KEY">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>KEY</th>
                <td mat-cell *matCellDef="let project">{{project.project_key}}</td>
            </ng-container>

            <ng-container matColumnDef="DESCRIPTION">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPTION</th>
                <td mat-cell *matCellDef="let project">{{project.description}}</td>
            </ng-container>

            <ng-container matColumnDef="# TESTS">
                <th mat-header-cell *matHeaderCellDef mat-sort-header># TESTS</th>
                <td mat-cell *matCellDef="let project">{{project.test_case_count}}</td>
            </ng-container>

            <ng-container matColumnDef="# CYCLES">
                <th mat-header-cell *matHeaderCellDef mat-sort-header># CYCLES</th>
                <td mat-cell *matCellDef="let project">{{project.test_cycle_count}}</td>
            </ng-container>

            <ng-container matColumnDef="STATUS">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
                <td mat-cell *matCellDef="let project">
                    @if (project.is_active) {
                    <app-status-badge [text]="'ACTIVE'" [className]="'active'"
                        [icon]="'fa-circle-check'">
                    </app-status-badge>
                    } @else {
                    <app-status-badge [text]="'INACTIVE'" [className]="'inactive'" [icon]="'fa-circle-xmark'">
                    </app-status-badge>
                    }
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="onProjectClick($event, row.project_key)"
                (auxclick)="onProjectClick($event, row.project_key)">
            </tr>
        </table>
    }
</div>